/* Margen superior lo que ocupa el header */
.headerSpace{

	padding-top: 60px;
	margin-bottom: 100px;
	margin-right: 400px;
	margin-left: 400px;
}

.posicionToast{
	position: absolute;
	display: block;
	bottom: 20px;
	right: 20px;
	background: #f03535e0 !important;
}